.heading{
    text-align: center;
    background-color:lightblue;
}
.content
{
    text-align: center;
    background-color:lightcyan;
}
.image{
   width:50%;
   height:10rem;
   background-position:left;
}