body
{
    background-color: #330000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
/* background-repeat: no-repeat;
height: 100vh;
width: 100vh; */
}
#box
{
background-color: white;
width :50%;
height:50%;
margin-left:350px;
margin-top: 100px;
padding: 50px;
display:flex;
gap: 5px;
justify-content:center;
align-content:center; 
border-radius: 10px;
margin-bottom: 50px;
}
#card{
    
    background-color:antiquewhite;
    width :30%;
height:30%;
margin-left:400px;
margin-top: 10px;
padding: 30px;
border-radius: 10px;

}
h1{
    margin-top: 50px;
    color:beige;
    text-align:center;
    font-weight:bolder;
    font-size:50px;
}
