.markdone{
  text-decoration: line-through;
}

.container{
  height: 200px;
  width:100%;
  border-color: aqua;
  z-index: -1;
  text-align: center;
}
.todo{
 height: 400px;
 width:300px;
 position:top right;
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 4px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}


